/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #222;
    color: white;
}


//***** NAVBAR *****//
#navBar{
    height: 100px;
   
    img{
        height: 70px;
    }
}

.jumbotron{
    height: 300px;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: top;
    }
}

// **** Main ****//

.comiCard{
    h4{
        font-size: small;
    }

    img{
        height: 50%;
        width: 100%;
        object-fit: fill;
    }
}





//***** FOOTER ****//

footer{


    h3{
        padding-bottom: 1rem;
    }
    
    ul{
        list-style-type: none;
        padding: 0;
    }

    img{
        height: 100%;
        object-fit: none;
        width: 100%;
    }
    
}

.footerLogo{
    width: 50%;
}

#footerLinks{
    background-image: url(../img/footer-bg.jpg);
}

.linkBox{
    height: 400px;
}